#projectContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height:80em;
}


.project{
    max-width:25em;
    color:black;
    margin-top:3em;
    flex-basis: 0;
    height:35em;
    border:1px solid black;
    }
.about{
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin-bottom:1em;
    margin-top:-.25em;
}

.buttons{
    display:flex;
    justify-content: space-evenly;
    margin-bottom:1em;
}
.siteExample{
    width:25em;
    height:15em;
    border-top:1px solid black;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.project{
    width:20em;
}

.siteExample{
    width:20em;
}

}
