

.main-img{
    position: fixed;
    width:100%;
    z-index:1;
    padding:0;
    height:100%;
}

.header{
    display:flex;
    justify-content: flex-end;
    z-index:5;
    position: relative;
}


.header-img{
    z-index:5;
    position: relative;
    height:5em;
    width:20em;
}

.profile{
    width:20em;
    height:3em;
    display: flex;
    margin-top:1.5em;
    margin-right:2em;
}

.player-icon{
    
    background-color:#1C75BC;
    width:4em;
    height:3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:.5em;
    text-align: center;
}

.divider{
    height:3em;
    background-color:#7DFF00;
    width:.5em;
}

.player-main{
    background-color: #39445E;
    height:3em;
    width:100%;
    display:flex;
    font-family: 'Roboto';
    align-items:center;
    color:white;
}

.name{
    margin-left:1.5em;
    font-size:1em;
}

.level{
    background-color: #A35435;
    height:1em;
    width:1.5em;
    color:white;
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    margin-left:1em;
    border-radius:10%;
}

.star-container{
    background-color: white;
    height:1em;
    width:3em;
    color:#A35435;
    border-radius:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star{
    margin-bottom:.1em;
}

#add-player{
    height:2em;
    width:2em;
    margin: 0 auto;
}

#grid{
    display:grid;
    height:49.3em;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);;
    margin:0;
    width:100%;
    z-index:5;
    position: relative;
}

.content{
    grid-row:2/ 20;
    grid-column: 6 / 18;
}

.portfolio{
    font-family: 'Overwatch';
    font-size:3.5em;
    color:gold;
    margin-bottom:0;
    grid-row: 1 / 3;
    grid-column: 2/4;
}



.projects{
    font-size:3em;
    grid-row: 3 / 5;
    grid-column: 2/4;
    color:white;
   
}

.projects h3:hover{
    color:gold;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

.about-me{
    font-size:1.3em;
    grid-row: 10/13;
    grid-column: 2/3;
    color:white;
}

.about-me p:hover{
    color:gold;
    cursor: pointer;
}


.contact{
    font-size:3em;
    grid-row: 7 / 9;
    grid-column: 2/4;
    color:white;
}

.contact h3:hover{
    color:gold;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

.resume{
    font-size:3em;
    grid-row: 5 / 7;
    grid-column: 2/4;
    color:white;
    font-family: 'Roboto';
    
}

.resume h3:hover{
    color:gold;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

.linkedIn{
    grid-row: 11 /14;
    grid-column: 2/3;
    color:white;
    font-size:1.3em;
    font-family: 'Roboto';
}

.linkedIn p:hover{
    color:gold;
    cursor: pointer;
}

.Github{
    grid-row:12/14;
    grid-column: 2/3;
    color:white;
    font-size:1.3em;
    font-family: 'Roboto';
}

.Github p:hover{
    color:gold;
    cursor: pointer;
}

#chatContainer{
    grid-row:14 / 20;
    grid-column:1/5;
    color:white;
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
    font-family: 'Roboto';
    scrollbar-width: none;

}

#form{
    display:'flex';
}

.form-submit{
    background:transparent;
    border-right: none;
    border-top:none;
    border-left:none;
    width:75%;
    color:white;
    outline-width: 0;
}

::-webkit-scrollbar {
    width: 0;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #888; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.header img{
    height:5em;
    width:15em;
}

@font-face { font-family: "Overwatch"; src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff'); }


@media only screen and (max-width:600px){
    .portfolio{
        font-size:2em;
        grid-row: 1 / 3;
    }

    .projects{
        font-size:2em;
        grid-row: 3 / 5;
    }
    .resume{
        font-size:2em;
        grid-row: 5/7;
    }
    .contact{
        font-size:2em;
        grid-row: 7/9;
    }

    .Github{
        grid-row: 12/13;
    }

    .about-me{
        grid-row: 10/11;
    }

    .linkedIn{
        grid-row: 11/12;
    }

    .form-submit{
        width:100%;
    }

    .content{
        grid-row:2/ 17;
        grid-column: 7 / 20;
    }
    .profile{
        margin:2em auto 0 auto;
    }
}