
#opening{
  background-image: url('https://images.unsplash.com/photo-1545617350-8640e986165b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1458&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  margin-top:0;
  text-align: center;
}

h1{
  margin:0;
}

#me{
  height:12em;
  width:12em;
  border-radius: 75%;
  margin: 0 auto;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size:2em;
  list-style: none;
  margin:0 auto;
}

.Nav{
  color:white;
}

li:hover{
  cursor:pointer;
  color:black;
}


a{
  color:white
}

a.active{
  color:black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  ul{
    font-size:1em;
    margin-left:-2em;
  }

  #me{
    height:5em;
    width:5em;
  }
}